---
const articles = [
    {
        title: "Beat'em Up",
        description: "Los clasicos de 'Yo contra el barrio'",
        img: "imgs/Capcom.avif",
        alt: "Imagen de Beat'em Up",
        link: "/beat-em-up",
    },
    {
        title: "Run and Gun",
        description: "Pura bala y accion frenetica",
        img: "imgs/blazing.avif",
        alt: "Imagen de Run and Gun",
        link: "/run-and-gun",
    },
];
---

<section class="flex flex-col items-center justify-center">
    <article class="grid grid-cols-1 md:grid-cols-2 gap-3 ">
        {
            articles.map((articles) => {
                return (
                    <div class="m-2 rounded-md text-[#e9c7a5] text-center md:max-w-30">
                        <a href={articles.link}>
                            <img class="rounded-md w-full h-auto md:h-96 " src={articles.img} alt={articles.alt}/>
                            <h2 class="md:text-2xl text-xl font-bold pt-3">{articles.title}</h2>
                            <p class="text-center text-white">{articles.description}</p>
                        </a>      
                    </div>
                );
            })
        }
    </article>
</section>
