---
interface Props{
    genre: string;
    description: string;
    img: string;
    alt: string;
    link?: string;
}

const {genre, description, img, alt, link} = Astro.props
---

<div class="m-2 rounded-md text-[#fe6043] text-center md:max-w-30">
    <a href={link}>
        <img class="rounded-md w-full h-auto md:h-80 " src={img}?timestapm={Date.now()} alt={alt}/>
        <h2 class="md:text-2xl text-xl font-bold pt-3">{genre}</h2>
        <p class="text-center text-white">{description}</p>
    </a>      
</div>