---
interface Props{
    title: string;
    description: string;
    img: string;
    alt: string;
    link?: string;
}

const {title, description, img, alt, link} = Astro.props
---

<div class="m-2 rounded-md text-[#e9c7a5] text-center md:max-w-30">
    <a href={link}>
        <img class="rounded-md w-full h-auto md:h-80 " src={img} alt={alt}/>
        <h2 class="md:text-2xl text-xl font-bold pt-3">{title}</h2>
        <p class="text-center text-white">{description}</p>
    </a>      
</div>