---
import Layout from "../../layouts/Layout.astro";
import HeroJuegos from "../../components/HeroJuegos.astro";
import JuegosItem from "../../components/JuegosItem.astro";

import { GENRES } from '../../../juegos.json'

export async function getStaticPaths() {
    return GENRES.map((generos, ) => ({
        params: { genero: generos.genre,
            description: generos.description  },

    }))
}

const { genero, description } = Astro.params

console.log(description)
---

<Layout title={genero} >
    <main class="pt-12">
        <HeroJuegos title={genero} description={`Los mejores ${description} de ${genero}`}/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    GENRES.map(genre => {
                        if (genre.genre === genero && genre.JUEGOS) {
                            return genre.JUEGOS.map(juego => (
                                <JuegosItem {...juego} title={juego.title} />
                            ))
                        }
                    })
                }
            </article>
        </section>
    </main>
</Layout>
